@charset "utf-8";
@import 'path.woff' print;


#about .visible span {
  height: 100px;
  width: calc(100px - 100%);
}

span:hover [type$="text"] [v-cloak] {
  font-size: 10 inherit;
}

body::after {}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}
/* reqognize the tag */
